.single-player {
  display: flex;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}

.info {
  width: 70%;
}
.image {
  display: block;
}

.size {
  width: 60%;
}
